<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
    
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="C:\Sujithra\chatApp" />
        <add key="DJANGO_SETTINGS_MODULE" value="chatApp.settings" />
    
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="Chat APP" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Sujithra\chatapp_0\env\Scripts\python.exe|C:\Sujithra\chatapp_0\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            <add name="Chat" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Sujithra\chatapp_0\env\Scripts\python.exe|C:\Sujithra\chatapp_0\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
